.contacts {
	display: inline-block;
	text-align: right;
	width: 161px;
	font-weight: bold;
}

/* errors */
#waiver_error, #phone_error, #email_error,
#first_name_error, #last_name_error, #email_list_error
 {
	color: red; 
}

/* toggle for mailman or other email list */
.toggle {
	height: 50px;
}
.toggle.off .noUi-handle {
	border-color: red;
}

.toggle.on .noUi-handle {
	border-color: green;
}


/* get rid of the pesky handle stripping with specificity (when figured out) */
#email_list_toggle > div > div > div:before, #email_list_toggle > div > div > div:after,
{
	content: none;
}

.toggle.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 20px;
	top: -2px;
}

.toggle.noUi-horizontal.noUi-extended {
	padding-right: 32px;
}

.toggle.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
}
.toggle.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -32px;
}

#email_list_block > div {
	display: inline-block;
}

/* end email list toggle */


