.stats td {
        padding: 0px 10px 0px 10px;
}


#status_totals, #community_service_hours {
	height: 36px;
	width: 98px;
	font-size: x-large;
}

#status_totals, #community_service_hours:focus { 
    color: green;
}