/* sensible UI defaults for transaction views */

/* right-align labels */
td > label:not(.payment_type):not(.open_shop):not(.gnucash_csv) {
	float: right; 
	padding-right: 5px;
}

/* make unimportant buttons into links */
input[value=Delete], input[name=date_fill] {
	background:none!important;
	border:none; 
	padding:0!important;
	color: blue;
	/*border is optional*/
	/* border-bottom:1px solid blue; */ 
	cursor: pointer;
}

form[name=FormEdit] select:focus { 
    color: green;
}

.editable_change {
	color: gray;
}

.editable_change form {
	display: inline;
}

/*
input[value=Save]:focus, input[value=Close]:focus {
	background: green;
}
*/

/* distinguish deposits */
.deposit, .deposit_calculator {
	background-color: #FFDB58;
}

.deposit [type='checkbox'] {
	display: none;
}

/* gnucash */
[name=gnucash_csv_year] {
	 width: 80px; 
}

#gnucash_csv_range {
	width: 300px;
}

#range_slider {
	padding-top: 8px;
}
