/* sensible UI defaults for transaction views */

/* right-align labels */
td > label:not(.payment_type):not(.open_shop):not(.gnucash_csv) {
	float: right; 
	padding-right: 5px;
}

/* bold transaction type */
#trans_type_info {
	font-weight: bolder;
}

/* make unimportant buttons into links */
input[value=Delete], input[name=date_fill] {
	background:none!important;
	border:none; 
	padding:0!important;
	color: blue;
	/*border is optional*/
	/* border-bottom:1px solid blue; */ 
	cursor: pointer;
}

form[name=FormEdit] select:focus { 
    color: green;
}

select[name=transaction_type]:focus { 
    color: green;
}

.editable_change {
	color: gray;
}

.editable_change form {
	display: inline;
}

/*
input[value=Save]:focus, input[value=Close]:focus {
	background: green;
}
*/

/* distinguish deposits */
.deposit, .deposit_calculator {
	background-color: #FFDB58;
}

.deposit [type='checkbox'] {
	display: none;
}

/* gnucash */
[name=gnucash_csv_year] {
	 width: 80px; 
}

#gnucash_csv_range {
	width: 351px;
}

#range_slider {
	padding-top: 8px;
}

/* center error text by description when editing transactions */
[name=description], #description_error {
	vertical-align: middle;
}

/* errors */
#current_shop > a, #date_error,
#transaction_start_error, 
#sold_by_error, #sold_to_error, 
#description_error, #check_number_error, 
#payment_error, #payment_type_error,
#quantity_error, #anonymous_error {
	color: red; 
}